/* Candidate Holder */
.candidate-holder {
    position: absolute;
    bottom: 5vh;
    left: 10vh;
    z-index: 10;
    pointer-events: auto;
    width: 30vw;

    background-color: var(--color4);
    padding: 20px 20px;
    border-radius: 12px;
    height: 80vh;

    display: flex;
    flex-direction: column;
    transition: opacity 1s linear;
}

.candidate-holder h1 {
    text-align: center;
    margin: 0;
    font-size: 3rem;
    color: var(--color2);
}

.candidate-list {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5vh;
    margin: 2.5vh 2vh;
    overflow-y: auto;
}

/* Candidate Info */
.candidate-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    width: 100%;

    padding: 0.75rem 1rem;
    border-radius: 10px;
    background-color: var(--color1);
    font-family: "sofia-pro", sans-serif;
    transition: opacity 1s linear;
}

.candidate-info button {
    margin-top: auto;
    align-self: center;
    display: flex;
    align-items: center;

    background: red;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    color: var(--color2);
    font-family: "sofia-pro", sans-serif;
    padding: 0.75vh 2vh;
    border-radius: 15px;
}

.candidate-info button:active {
    opacity: 0.85;
    transform: scale(1.05);
}

/* Candidate */
.candidate-profile {
    position: absolute;
    bottom: 5vh;
    left: 10vh;
    z-index: 10;
    pointer-events: auto;
    width: 30vw;

    background-color: var(--color4);
    padding: 20px 20px;
    border-radius: 12px;
    height: 80vh;

    display: flex;
    flex-direction: column;
    transition: opacity 1s linear;
}

.candidate-header {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 16px;
    border-radius: 10px;
    background-color: var(--color2);
}

.candidate-image {
    width: 120px;
    height: 140px;
    object-fit: cover;

    border-radius: 4px;
    background-color: var(--color2);
}

.candidate-bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color2);
}

.candidate-name {
    margin: 0 0 6px 0;
    font-size: 2rem;
    font-weight: 600;
    color: var(--color4);
}

.candidate-role {
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--color4);
}

.candidate-party {
    font-size: 1rem;
    font-weight: 400;
    color: var(--color4);
}

.candidate-id {
    text-align: center;
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--color2);
    margin-top: 0.5vh;
}

/* Other */

.close-button {
    margin-top: auto;
    align-self: center;
    display: flex;
    align-items: center;

    background: red;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--color2);
    font-family: "sofia-pro", sans-serif;
    padding: 0.75vh 2vh;
    border-radius: 15px;
}

.close-button:active {
    opacity: 0.85;
    transform: scale(1.05);
}

@media screen and (max-width: 767px) {

    .candidate-holder,
    .candidate-profile {
        width: 90vw;
    }

    .candidate-holder h1 {
        margin: 0;
        font-size: 1.5rem;
    }

    .candidate-info h2 {
        font-size: 2rem;
    }

    .candidate-info h3 {
        font-size: 1.25rem;
    }

    .candidate-name {
        font-size: clamp(1rem, 5vw, 2rem);
    }
}

@media screen and (max-width: 1024px) {

    .candidate-holder,
    .candidate-profile {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

    .candidate-holder,
    .candidate-profile {
        width: 80vw;
    }

    .candidate-info h2 {
        font-size: 3rem;
    }

    .candidate-info h3 {
        font-size: 2rem;
    }
}