.navbar {
    z-index: 999;
    width: 100%;
    height: 10vh;
    background-color: var(--color3);

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
    box-sizing: border-box;
}

.navbar-title {
    margin: 0 5vh;
    font-size: 3vh;
    color: var(--color2);
    white-space: nowrap;
}

.navbar-buttons {
    display: flex;
    align-items: stretch;
    gap: 1vw;
    margin-right: 0vw;
    z-index: 10;
    font-family: "sofia-pro", sans-serif;
}

.navbar-buttons button,
.navbar-buttons-link {
    padding: 0.8vh 1.5vh;
    line-height: 1;
    box-sizing: border-box;
}

.navbar-buttons button,
.navbar-buttons-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color2);
    color: var(--color4);
    border-radius: 0.5vh;
    font-size: 4vh;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    transition: transform 0.1s ease, opacity 0.2s ease;
    min-height: 4.6vh;
}

.navbar-buttons-link:active {
    opacity: 0.85;
    transform: scale(1.05);
}

.navbar-hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 5vh;
    height: auto;
    aspect-ratio: 1 / 1;
    cursor: pointer;
}

.navbar-hamburger .navbar-bar {
    height: 0vh;
    width: 100%;
    transition: 0.3s;
}

@media screen and (max-width: 767px) {
    .navbar-title {
        font-size: 1.5vh;
    }
}

@media screen and (max-width: 1024px) {
    .navbar-title {
        align-self: center;
        margin: 0 2.5vh;
    }

    .navbar-buttons {
        align-items: center;
        display: none;
        position: absolute;
        top: 9.85vh;
        left: 0;
        flex-direction: column;
        width: 100%;
        height: 80vh;
        padding: 1vh;
    }

    .navbar-buttons button,
    .navbar-buttons-link {
        width: 80%;
        height: 10%;
        font-size: 5vh;
        text-align: center;
        border-radius: 1vh;
    }

    .navbar-buttons.open {
        display: flex;
        align-items: center;
        background-color: var(--color3);
    }

    .navbar-hamburger {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        color: var(--color2);
        font-size: 5vh;
        text-align: center;
        align-items: center;
    }
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
    .navbar-title {
        font-size: 2vh;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1186px) {
    .navbar-title {
        font-size: 1.75vh;
    }
}

@media screen and (min-width: 1187px) and (max-width: 1373px) {
    .navbar-title {
        font-size: 2vh;
    }
}